* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.app {
  background: #f7f7f7f7;
  padding: 30px;
  max-width: 1030px;
  min-height: 100vh;
  margin: 30px auto;
  border-radius: 20px;
}
h1 {
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}
.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
